{% extends 'blog/base.html' %}
{% load static %}
{% static 'blog/CSS/style.css' %}
{% block content %}
        <div class="col-sm-10 main">
            <h2 class="my-5 ">About page</h2>

           <p class="text-center">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque praesentium repudiandae nobis laboriosam in voluptatum atque provident, iusto sapiente dolores!
           </p>

           <p class="text-center">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo voluptates totam odit eius consequatur blanditiis illum quisquam aperiam dolorum, dicta aliquam quasi omnis aliquid, culpa saepe nulla. Id ullam perspiciatis accusantium esse sequi possimus iusto, maiores qui beatae eligendi? Sequi architecto, commodi dicta inventore consectetur culpa omnis accusantium esse? Maiores!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, rem omnis. Repellendus, quidem id ipsam minima non voluptatibus dignissimos perferendis libero, officia dicta dolor. Voluptates maiores quas temporibus iusto voluptate. Tenetur, quidem nemo. Ipsum optio alias molestiae accusamus asperiores eligendi nostrum! Sint facilis voluptates laborum non, earum ab quo! Nulla?
           </p>
        </div>    
{% endblock content %}